:root {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

#auth-sidebar {
    background: linear-gradient(135deg, #4B45F6 0%, #3931f2 100%);
}

.sidebar-title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}
  
.sidebar-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem; /* Slightly smaller text */
    font-weight: 350;
    margin: 10px;
    color: black;
}

.logo {
    width: 200px;
}

.additional-logo{
    width: 200px;
}

.auth-form {
    height: 40%;
    width: 50%;
    background-color: #f2f2ffb3;
    border-radius: 25px;
}

/* For medium screens and larger */
@media (min-width: calc(var(--breakpoint-md))) {
    .auth-form {
        width: 36%;
    }
}